{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    'react/jsx-closing-bracket-location': [2, {'nonEmpty': 'after-props'}],
    'react/prop-types': [1, { skipUndeclared: true }],
    'no-confusing-arrow': ['error', {'allowParens': true}]
  }
}
