html,
body,
.container,
.contributions {
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(3, 3, 3, 0.8);
  font-family: Roboto, sans-serif;
}

.contributions-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  box-shadow: 9px 5px 5px 5px rgba(0,0,0,0.24);
  padding: 1rem 0;
}

.contributions {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.contributions-header,
.contributions-months {
  height: 16px;
  padding-bottom: 5px;
  margin-left: 1px;
}

.contributions-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  margin: 5px 0;
  line-height: 24px;
}

.contributions-months {
  display: flex;
  flex-flow: row nowrap;
}

.contributions-days {
  display: flex;
  flex-flow: column nowrap;
}

.contributions-days ul {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 0;
  padding-left: 2px;
  list-style: none;
  width: 30px;
}

.contributions-days ul li {
  padding: 0;
  height: 17px;
  line-height: 17px;
}

.contributions-legend {
  display: flex;
  align-items: center;
}

.contributions-legend ul {
  display: flex;
  list-style: none;
  margin: 0 5px;
  padding: 0;
}

.contributions-actions {
  display: flex;
}

.column {
  width: 17px;
}

.rectangle {
  width: 15px;
  height: 15px;
  margin: 1px;
}

.rectangle-1 {
  background-color: #eee;
}

.rectangle-2 {
  background-color: #d6e685;
}

.rectangle-3 {
  background-color: #8cc665;
}

.rectangle-4 {
  background-color: #44a340;
}

.rectangle-5 {
  background-color: #1e6823;
}

.container-flex {
  display: flex;
}

.container-flex.row-nowrap {
  flex-flow: row nowrap;
}

.container-flex.column-nowrap {
  flex-flow: column nowrap;
}

.container-flex.align-center {
  align-items: center;
}

.contributions-header,
.contributions-footer,
.contributions-months,
.contributions-days {
  font-size: 8pt;
}

.script {
  min-height: 0;
  overflow-y: scroll;
}
